<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <h1 class="navbar-brand" style="margin-bottom: 0;">Shoppping Cart</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/carts">Cart<span class="badge badge-primary ml-1" id="cartNum">{{Cnumber}}</span></a>
                </li>
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/orders">Orders</a>
                </li>
                {{else}}
                {{/if}}
                <li class="nav-item">
                    {{#if user}}
                    <a class="nav-link" href="#">{{user.Name}}</a>
                    {{else}}
                    <a class="nav-link" href="#">Account</a>
                    {{/if}}
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                {{#if user}}
                <a href="http://localhost:3000/logout" class="btn"
                    style="background-color: green; color: white; margin: 5px;">Logout</a>
                {{else}}
                <a href="http://localhost:3000/signup" class="btn"
                    style="background-color: green; color: white; margin: 5px;">Signup</a>
                <a href="http://localhost:3000/login" class="btn"
                    style="background-color: green; color: white; margin: 5px;">Login</a>
                {{/if}}
            </form>
        </div>
    </nav>
</header>