<main class="main" style="padding-top: 40px;">
    <section>
        <div class="container">

            <table class="table" style="margin-top: 20px ;">
                <thead>
                    <tr>
                        <th scope="col">Prodect</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quauntity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each products}}
                    <tr>
                        <td><img style="width: 50px; height: 50px;" src="/productimage/{{this.productDetail._id}}.jpg"
                                alt=""></td>
                        <td>{{this.productDetail.Name}}</td>
                        <td><button class="cart-items-counter  mr-3 btn btn-primary"
                                onclick="changeQuantity('{{this._id}}','{{this.productDetail._id}}',-1,'{{this.productDetail.Price}}')">-</button>
                            <span id="{{this.productDetail._id}}">{{this.quantity}}</span><button
                                class="cart-items-counter ml-3 btn btn-primary"
                                onclick="changeQuantity('{{this._id}}','{{this.productDetail._id}}',1,'{{this.productDetail.Price}}')">+</button>
                        </td>
                        <td>₹{{this.productDetail.Price}}</td>
                        <td><a href="" class="btn btn-danger"
                                onclick="removeProduct('{{this.productDetail._id}}','{{this._id}}')">Remove</a>
                        </td>

                    </tr>
                    {{/each}}

                </tbody>
            </table>
            <hr>
            <div class="float-right pr-5">
                <h4 class="float-right  mt-5 mr-5">Total Price is : ₹ <span id="totalPrice"> {{total}} </span> </h4>
                <a href="place-order" class="btn btn-success float-right mt-4" style="width: 80%;">Place Order</a>
            </div>
        </div>
    </section>
</main>

<script>

    function changeQuantity(cartId, proId, count, price) {
        let num = document.getElementById(proId).innerHTML
        if (num == 1 && count == -1) {

            alert("Minimum qunatity is zero try to remove item from cart")

        } else {
            $.ajax({
                url: '/change-product-quantity',
                data: {
                    cart: cartId,
                    prod: proId,
                    count: count
                },
                method: 'post',
                success: (response) => {
                    if (response) {
                        num = parseInt(num) + response.change;
                        console.log(num);
                        document.getElementById(proId).innerHTML = num;
                        var totalPrice = parseInt(document.getElementById('totalPrice').innerHTML);
                        if (count == 1) {
                            document.getElementById('totalPrice').innerHTML = totalPrice + parseInt(price)
                            console.log(totalPrice);
                        } else if (count == -1) {
                            document.getElementById('totalPrice').innerHTML = totalPrice - parseInt(price)
                            console.log(totalPrice);
                        }
                    }

                }

            })
        }

    } function removeProduct(proId, cartId) {
        $.ajax({
            url: '/remove-product',
            data: {
                cart: cartId,
                prod: proId,
            },
            method: 'post',
            success: (response) => {

                alert("Product Removed");

            }

        })
    }
</script>